@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico|Permanent+Marker&display=swap');

body {
  background-image: url("img/backgroundwood.png");
  color: rgb(32, 32, 32);
  height: 100vh;
  width: 100vw;

    } 
h1{
  font-family: 'Permanent Marker', cursive;
  color:rgb(61, 119, 129);
}
    
.card {
font-family:'Montserrat', sans-serif;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin: auto;
padding-bottom: 1.2em;
text-align: center;
background: linear-gradient(#696969, white);
}  

.title {
    color: rgb(44, 43, 43);
    font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: rgb(48, 136, 158);
  font-family: "Lohit Devanagari Regular" sans-serif;
}
  
a:hover {
    opacity: 0.7;
  }  

footer{color: rgb(32, 32, 32);
    text-align: center;
    margin-top: 1em;
}   
             
